@import 'https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css';

body {
  text-align: left;
  font-family: 'Raleway-regular', sans-serif !important;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0px;
  font-size: 16px;
  display: block;
}

.header-wrapper {
  height: 156px;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  opacity: 1;

  .logo {
    padding: 20px;
    text-align: center !important;
    margin-left: 30px;
    justify-content: flex-start;
    display: flex;
  }

  .header-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-right: 30px;

    li {
      padding: 50px 15px;

      a {
        text-decoration: none;
        text-align: left;
        font-size: 20px;
        letter-spacing: 0px;
        color: #48D2FE;
        opacity: 1;
        font-weight: bold;

        &:hover {
          color: #F339A1;
        }
      }
    }
  }
}

.banner-primary {
  background-image: url('../assets/images/iStock-1126384502.png');
  background-origin: padding-box;
  height: 924px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  border: none;
  background-size: 1920px;

  .banner-primary--wrapper {
    margin: 160px 50px 0;

    h1 {
      text-align: left;
      font-size: 96px;
      letter-spacing: 0px;
      color: #FFEE65;
      opacity: 1;
      font-weight: bold;
    }

    p {
      text-align: left;
      font-size: 42px;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;
      margin: 50px 0;
    }

    a {
      background: #F339A1 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 58px;
      opacity: 1;
      min-width: 480px;
      padding: 25px 60px;
      text-decoration: none;
      height: 116px;
      color: #ffffff;
      font-size: 35px;
      font-family: 'raleway' !important;
    }
  }
}

.background {
  background-image: url('../assets/images/background.png');
  background-origin: padding-box;;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  min-height: 365vh;

  .about-us {
    margin-bottom: 100px;
    .logo {
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
        p {
        padding: 0;
        }
    }

    h2 {
      color: #F339A1;
      font-size: 48px;
      margin-top: 100px;
    }

    p {
      text-align: left;
      font-size:42px;
      letter-spacing: 1.89px;
      color: #4E4E4E;
      opacity: 1;
      margin-top: 30px;
      padding: 0 150px 0 0;
    }
  }

  .how-works {
    margin-left: 200px;
    margin-top: 400px;
    margin-bottom: 100px;
    position: relative;

    .how-works--left {
      &:before {
        content: '';
        background-image: url('../assets/images/Artboard–17.png');
        display: block;
        width: 322px;
        height: 322px;
        position: absolute;
        top: -300px;
        left: -150px;
      }
  
      h2 {
        text-align: left;
        font-size: 46px;
        letter-spacing: 0px;
        color: #F339A1;
        opacity: 1;
      }
  
      p {
        text-align: left;
        font-size:38px;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin: 35px 0;
  
        small {
          text-align: left;
          font-size: 36px;
          font-weight: lighter;
          letter-spacing: 0px;
          color: #FFFFFF;
          opacity: 1;
        }
      }
  
      ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
  
        li {
          padding: 0 15px;

          &:first-child {
            padding-left: 0;
          }
        }
      }
    }

    .how-works--right {
      text-align: center;

      margin-top: 150px;
    }
  
  }

  .gallery-wrapper {
    .gallery {
      margin-top: 100px;
      margin-bottom: 50px;
    }
    
    .gallery-cell {
      width: 25%;
      height:600px;
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      
      &.is-selected {
        width: 28%;
        img {
          width: 70%;
          transition: 0.5s ease-in-out;
        }
      }

      img {
        width: 55%;
      }
    }
    
    .gallery-wrapper--text {
      width: 70%;
      margin: 0 auto;
      h2 {
        text-align: center;
        font-size:33px;
        letter-spacing: 0px;
        color: #F339A1;
        opacity: 1;
      }
    
      p {
        text-align: center;
        letter-spacing: 0px;
        color: #4E4E4E;
        font-size: 28px;
        opacity: 1;
      }
    }
  }

  .contact-wrapper {
    margin-top: -350px;
    position: relative;
    height: 1600px;

    &:before {
      content: '';
      background-image: url('../assets/images/Artboard–21.png');
      display: block;
      width: 610px;
      height: 506px;
      position: relative;
      top: 500px;
      left: 80px;
    }

    &:after {
      content: '';
      background-image: url('../assets/images/Artboard–12.png');
      display: block;
      width: 380px;
      height: 365px;
      position: absolute;
      right: 80px;
      bottom: 0;
    }

    h2 {
      text-align: left;
      font-size: 33px;
      letter-spacing: 0px;
      color: #F339A1;
      opacity: 1;
      text-align: center;
    }

    p {
      text-align: center;
      font-size:21px;
      letter-spacing: 0px;
      color: #4E4E4E;
      opacity: 1;
      padding: 30px 0;
      font-family: 'Cloudy With a Chance of Love'
    }

    input {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 30px;
      opacity: 1;
      border: 0;
      height: 61px;
    }
    
    label {
      text-align: left;
      font-size:20px;
      letter-spacing: 0px;
      color: #FFF06E;
      opacity: 1;
    }
    
    textarea {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 30px;
      opacity: 1;
      border: 0;
      height: 221px
    }

    .buttons {
      margin:30px 0;
      font-family: 'Cloudy With a Chance of Love';

      .submit {
        background: #48D2FE 0% 0% no-repeat padding-box;
        border-radius: 31px;
        opacity: 1;
        min-width: 192px;
        text-align: center;
        font-size: 22px;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        height: 61px;
      }
  
      .clear {
        text-align: right;
        font-size: 18px;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        background: transparent;
        border: 0;
        margin-right: 25px;
      }
    }
  }
}

.footer-wrapper {
  min-height: 146px;
  height: 100%;
  background: #4E4E4E 0% 0% no-repeat padding-box;
  opacity: 1;

  .logo {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start !important;
    margin-left: 30px;
    height: 100%;
    min-height: 146px;
  }

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    float: right;
    margin-top: 0px;
    margin-bottom: 30px;

    &.terms {
      margin-right: 15px;
      li {
        padding: 0;
        padding-left:15px;
        a {
          text-align: left;
          font-size: 16px;
          letter-spacing: 0px;
          color: #939393;
          opacity: 1;
        }
      }
    }

    li {
      padding: 50px 15px 0;

      .insta {
        img {
          position: relative;
          top: -4px;
        }

        svg {
          color: red;
          fill:red;
        }
      }

      a {
        text-align: left;
        font-size: 26px;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;

        &:hover {
          color: #F339A1;
        }
      }
    }
  }
}

#menuToggle {
  input {
    display: none;
  }
}

@media(max-width:1792px) {
  .background {
    .contact-wrapper {
      margin-top: -500px;
      &:after {
        bottom: -100px;
      }

      &:before {
        top: 450px;
        left: 50px;
      }
    }
  }
}

@media(max-width:1650px) {
  .background {
    .about-us {
      p {
        padding: 0;
      }
    }
    
    .how-works {
      margin-left: 100px;
      margin-top: 300px;
    }

    .gallery-wrapper {
    
      .gallery-cell {
        &.is-selected {
          width: 28%;
          img {
            width: 85%;
            transition: 0.5s ease-in-out;
          }
        }
  
        img {
          width: 70%;
        }
      }
    }
  }  
}

@media(max-width:1250px) {

  .background {
    min-height: 330vh;

    .how-works {
      margin-left: -15px;
      margin-top: 300px;
    }

    .contact-wrapper {
      margin-top: 300px;
      height: 1000px;
      &:before, &:after {
        display: none !important;
      }
    }

    .gallery-wrapper {
      margin-top: 100px;

      .gallery {
        margin: 0;
      }

      .gallery-wrapper--text {
        margin: 0 auto;
      }
    }
  }
}

@media(max-width:1200px) {
  .background {
    .contact-wrapper {
       p {
        padding: 50px 0;
       }

       h2 {
         color: #ffffff;
       }
    }
  } 

  .footer-wrapper {
    ul {
      float: right;
    }
  }
}

@media(max-width:1024px) {
  .header-wrapper {
    .logo {
      justify-content: center;
    }
  }

  .banner-primary {
    height: 500px;
  }

  .background {
    .contact-wrapper {
      margin-top: 500px;
      height: 100%;
      
      h2 {
        color: #F339A1;
      }

      &:before, &:after {
        display: none;
      }
    }
    
    .gallery-wrapper {
      margin-top: 100px;
      .gallery {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .how-works {
      .how-works--right {
        display: none;
      }

      .how-works--left {
        &:before {
          display: none;
        }
      }
    }
      
  }

  .footer-wrapper {
    height: 100%;

    .logo {
      padding: 25px;
      display: flex;
      justify-content: center !important;
    }
    
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      &.terms {
        margin: 50px 0;
      }

      li {
        width: 100%;
        padding: 15px;
         a {
           font-size: 16px;
         }
      }
    }
  }

  p {
    font-size: 30px !important;
  }

  h2 {
    font-size: 46px !important;
  }
}

@media(max-width:991px){
  .banner-primary { 
    .banner-primary--wrapper {
      margin: 100px 0;
      padding: 0 15px;

      h1, p {
        font-size: 46px;
      }

      button {
        width: 100%;
        min-width: auto;
        max-width: 320px;
        font-size: 22px;
        height: 50px;
      }
    }
  }

  .background {
    .about-us {
      p,h2  {
        margin: 0;
        padding: 30px 30px;
      }
    }

    .how-works {
      margin: 0;
      padding: 15px;

      .how-works--left {
        &:before {
          display: none;
        } 
      }      
    }

    .gallery-wrapper {
      .gallery-wrapper--text {
        margin: 0 auto;
        width: 100%;
        padding: 30px;
      }
    }
  }


  #menuToggle
{
  display: block;
  position: relative;
 
  z-index: 999999;
  top:-95px;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #ffffff;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color:#F339A1;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  z-index: 999999 !important;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #232323;
  border-radius: 3px;
  
  z-index: 99999;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  margin: -100px 0 0 -50px;
  width: 100%;
  padding: 50px;
  padding-top: 125px;
  
  background: #F339A1 0% 0% no-repeat padding-box;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  flex-wrap: wrap;
  display: flex;
}

#menu li
{
  width: 100%;
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
}

@media(max-width:768px) {
  .resp-img {
    width: 100%;
  }

  .banner-primary { 
    background-image: url('../assets/images/tika-mobile.png');
    background-size: 100%;
    .banner-primary--wrapper {
      margin-top: 130px 0;
      h1, p {
        font-size: 26px;
      }

      p {
        color: #ffffff !important;
        margin: 25px 0;
      }

      a {
        width: 100%;
        min-width: auto;
        height: 30px;
        padding: 7px 30px;
        font-size: 22px;
      }
    }
  }

  h2 {
    font-size: 32px !important;
    text-align: left !important;
    color: initial;
  }

  p, small, label {
    font-size: 22px !important;
    text-align: left !important;
    color: #4E4E4E !important;
  }

  .footer-wrapper {
    ul {
      width: 100%;
    }
  }

  .background {
    .gallery-wrapper {
      .gallery-wrapper--text {
        margin: -115px auto;
      }
    }

    label {
      font-size: 20px !important;
    }

    .contact-wrapper {
      p {
        font-size: 18px !important;
      }
    }

    .about-us {
      img {
        max-width: 250px;
      }

      p {
        font-size: 16px !important;
      }
    }
  }
  
}

@media(max-width:560px) {
  .background {
    .contact-wrapper {
      margin-top: 200px;
    }

    .gallery-wrapper {
    
      .gallery-cell {
        width: 66%;
        &.is-selected {
          width: 70%;
          img {
            width: 100%;
            transition: 0.5s ease-in-out;
          }
        }
  
        img {
          width: 100%;
        }
      }
    }
  }
}









