<div class="container-fluid">
  <!-- Header -->
  <div class="row header-wrapper">
    <div class="col-xl-4">
      <p class="text-center logo">Logo</p>
    </div>

    <div class="col-xl-8">
      <ul class="header-menu">
        <li><a href="">Home</a></li>
        <li><a href="">Sobre nós</a></li>
        <li><a href="">Como funciona</a></li>
        <li><a href="">Contato</a></li>
        <li>
          <a href="">
            <img src="../assets/images/facebook.svg" alt="">
          </a>
        </li>
        <li>
          <div class="insta"> 
            <a href=""> 
              <img src="../assets/images/instagram.svg" alt="">
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- /Header -->

  <!-- Bannner-->
  <div class="row banner-primary">
    <div class="col-xl-12">
      <div class="banner-primary--wrapper">
        <h1>
          A escolha certa <br> para o seu pequeno!
        </h1>

        <p>
          Venha fazer parte dessa turma <br>e embarque nesta história.
        </p>

        <button>
          Saiba mais
        </button>
      </div>
    </div>
  </div>
  <!-- /Bannner-->
</div>

<div class="container-fluid background-gradient">
  <!-- About us-->
  <div class="row about-us">
    <div class="col-xl-5">
      <p class="logo text-center">Logo</p>
    </div>

    <div class="col-xl-7">
      <h2>Sobre nós</h2>

      <p>
        A Tika nasceu do desejo de envolver seu pequeno no universo letrado e incentivar a curiosidade e o gosto pela leitura, de forma prazerosa, lúdica e musical.
        <br>Para inspirar e compartilhar conhecimento, unimos a potência da tecnologia e a beleza das histórias. Essa experiência pode ser completa, mesmo para os pequenos que ainda não são alfabetizados.
      </p>
    </div>
  </div>
  <!-- /Abous us -->

  <!-- How Works-->
  <div class="row how-works">
    <div class="col-xl-6">
      <div class="how-works--left">
        <h2>Como funciona</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </p>
  
        <p>
          <small>
            Disponível nas stores.
          </small>
        </p>
  
        <ul>
          <li>
            <a href="">
              imagem
              <img src="" alt="">
            </a>
          </li>
          <li>
            <a href="">
              imagem
              <img src="" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="how-works--right">
        <img src="../assets/images/Artboard–13.png" alt="">
      </div>
    </div>
  </div>
  <!-- /How Works-->
</div>