<div class="container-fluid">
  <!-- Header -->
  <div class="row header-wrapper">
    <div class="col-lg-2 col-xl-4">
      <p class="text-center logo">
        <img src="../assets/images/Logo_TIKA-Color.png" alt="">
      </p>
    </div>

    <div class="col-lg-10 col-xl-8">
      <nav role="navigation">
        <div class="menuToggle" [class]="{ 'active' : display }" (click)="setDisplay(!display)" >          
            <span></span>
            <span></span>
            <span></span>

            <ul
            id="menu"
            class="header-menu d-flex justify-content-end">
            <li><a href="">Home</a></li>
            <li><a href="">Sobre nós</a></li>
            <li><a href="">Como funciona</a></li>
            <li><a href="">Contato</a></li>
            <li class="d-none d-lg-block">
              <a href="">
                <img src="../assets/images/facebook.svg" alt="">
              </a>
            </li>
            <li class="d-none d-lg-block">
              <div class="insta"> 
                <a href=""> 
                  <img src="../assets/images/InstagramSVG.svg" alt="">
                </a>
              </div>
            </li>
          </ul>
        </div>  
        <div class="menuToggle" *ngIf="display" [class]="{ 'active' : display }">  
          <ul
            id="menu"
            class="ul header-menu d-flex justify-content-end">
            <li><a href="#home" (click)="setDisplay(false)">Home</a></li>
            <li><a href="#aboutUs" (click)="setDisplay(false)">Sobre nós</a></li>
            <li><a href="#howWorks" (click)="setDisplay(false)">Como funciona</a></li>
            <li><a href="#contact" (click)="setDisplay(false)">Contato</a></li>
            <li class="d-none d-lg-block" >
              <a href="" (click)="setDisplay(false)">
                <img src="../assets/images/facebook.svg" alt="">
              </a>
            </li>
            <li class="d-none d-lg-block">
              <div class="insta"> 
                <a href="" (click)="setDisplay(false)"> 
                  <img src="../assets/images/InstagramSVG.svg" alt="">
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- /Header -->

  <!-- Bannner-->
  <div id="home" class="row banner-primary">
    <div class="col-xl-12">
      <div class="banner-primary--wrapper">
        <h1>
          A escolha certa <br> para o seu pequeno!
        </h1>

        <p>
          Venha fazer parte dessa turma <br>e embarque nesta história.
        </p>

        <a href="#howWorks">
            Saiba mais
        </a>
      </div>
    </div>
  </div>
  <!-- /Bannner-->
</div>

<div class="background">
  <div class="container-fluid">
    <!-- About us-->
    <div class="row about-us" id="aboutUs">
      <div class="col-md-12 col-lg-12 col-xl-6 logo">
        <p class=" text-center">
          <img src="../assets/images/Logo_TIKA-Color1.png" alt=""  style="width: 100%; margin: 0 auto;">
        </p>
      </div>
  
      <div class="col-md-12 col-lg-12 col-xl-6">
        <h2>Sobre nós</h2>
  
        <p>
          A Tika nasceu do desejo de envolver seu pequeno no universo letrado e incentivar a curiosidade e o gosto pela leitura, de forma prazerosa, lúdica e musical.
          <br>Para inspirar e compartilhar conhecimento, unimos a potência da tecnologia e a beleza das histórias. Essa experiência pode ser completa, mesmo para os pequenos que ainda não são alfabetizados.
        </p>
      </div>
    </div>
    <!-- /Abous us -->
  
    <!-- How Works-->
    <div class="row how-works" id="howWorks">
      <div class="col-12 col-xl-6">
        <div class="how-works--left">
          <h2>Como funciona</h2>
  
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          </p>
    
          <p>
            <small>
              Disponível nas stores.
            </small>
          </p>
    
          <ul>
            <li>
              <a href="">
                <img src="../assets/images/GooglePlay.png" alt="" style="width: 100%;">
              </a>
            </li>
            <li>
              <a href="">
                <img src="../assets/images/AppStore.png" alt="" style="width: 100%;">
              </a>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="col-12 col-xl-6">
        <div class="how-works--right">
          <img src="../assets/images/Artboard–13.png" alt="" style="width: 100%; max-width: 610px;">
        </div>
      </div>
    </div>
    <!-- /How Works-->
  
    <!--Slider-->
    <div class="row">
      <div class="col-xl-12 gallery-wrapper">
        <!-- Flickity HTML init -->
        <div class="gallery js-flickity"
          data-flickity-options='{ "wrapAround": true }'>
          <div #gallery  (domChange)="onDomChange($event)" class="gallery-cell" [attr.ref]="'index-'+i" *ngFor="let item of items; let i = index" [class]="item.class">
            <img [src]="item.url" alt="" [class]="item.class">
          </div>
        </div>

        <div class="gallery-wrapper--text">
          <h2>{{ msg.title }}</h2>
          <p>{{ msg.msg }}</p>
        </div>

      </div>
    </div>
    <!--/Slider-->
  
    <!--Contact-->
    <div id="contact" class="row contact-wrapper">
      <div class="col-xl-12">
        <div class="container"> 
          <!--Contact-->
  
          <div class="row">
            <div class="col-xl-12">
              <h2>Contato</h2>
  
              <p>Preencha o formulário abaixo ou nos envie um e-mail<br> diretamente para: contato@tikabooks.com</p>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xl-12">
              <form
              novalidate>
        
              <div class="row">
                <div class="col-12 col-xl-6">
                  <div class="form-group">
                    <label for="name">Nome completo</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      aria-describedby="name"
                      formControlName="name">
                  </div>
                </div>
        
                <div class="col-12 col-xl-6">
                  <div class="form-group">
                    <label for="lastName">E-mail</label>
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      aria-describedby="email"
                      formControlName="email">
                  </div>
                </div>
              </div>
        
              <div class="row">
                <div class="col-12">
                  <label for="message">Mensagem</label>
                  <textarea
                    class="form-control"
                    id="message"
                    rows="5"
                    formControlName="message"></textarea>
                  </div>
              </div>
        
              <div class="row">
                <div class="col-xl-12 d-flex justify-content-end buttons">
        
                  <button
                    class="clear">
                    Limpar
                  </button>
                  
                  <button
                    type="submit"
                    class="submit">
                      Enviar
                  </button>
                </div>
              </div>
            </form>
            </div>
          </div>
          <!--/Contact-->
        </div>
      </div>
    </div>
    <!--/Contact-->
  </div>
</div>

<div class="container-fluid">
  <!--Footer-->
  <div class="row footer-wrapper">
    <div class="col-xl-2">
      <div class="logo d-flex justify-content-center">
        <img src="../assets/images/Logo_TIKA-branco.png" alt="">
      </div>
    </div>

    <div class="col-xl-10">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#aboutUs">Sobre nós</a></li>
        <li><a href="#howWorks">Como funciona</a></li>
        <li><a href="#contact">Contato</a></li>
        <li>
          <a href="">
            <img src="../assets/images/facebook-1.svg" alt="">
          </a>
        </li>
        <li>
          <div class="insta"> 
            <a href=""> 
              <img src="../assets/images/insta.svg" alt="">
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-md-12">
      <ul class="terms d-flex justify-content-end">
        <li>
          <a href="">
            Termos de Uso
          </a>
        </li>
        <li>
          <a href="">
            Política de Privacidade
          </a>
        </li>
        </ul>
    </div>
  </div>
  <!--/Footer-->
</div>